{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
<meta name="author" content="">
<meta name="description" content="">
<meta http-equiv="Content-Type"content="text/html;charset=UTF-8"/>
<meta name="viewport"content="width=device-width, initial-scale=1.0">
<title>:: CV Bachai ::</title>

<!-- Favicon Icon -->
<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" />

<!-- CSS -->
<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
<link href="{% static 'assets/plugins/bootstrap/css/bootsnav.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap" rel="stylesheet"> 

</head>
<body class="home-2">
<div class="wrapper">
  <section>
    <div class="container">
      <div class="error-page padd-top-30 padd-bot-30">
        <h1 class="mrg-top-15 mrg-bot-0 cl-danger font-150 font-bold">403</h1>
        <h2 class="mrg-top-10 mrg-bot-5 funky-font font-40">Access Denied !!</h2>
        <p>Sorry, You do not have permission to access this page.</p>
		<span>The link you clicked is accessible for another type of user.Please go to Home page.</span>
        <a href="{% url 'home' %}" class="btn theme-btn-trans mrg-top-20">Go To Home Page</a> 
	  </div>
    </div>
  </section>
</div>
</body>
</html>